/*Main*/
.galleryText{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gallerybutton{
  font-size: 15px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 3px;
  transition-duration: .2s;
  transition-property: all !important;
}
#gallery{
  background: #dcccb6;
}

/*Page*/
.gallerypageText{
  text-align: center;
  padding-bottom: 20px;
  margin-top: 100px;
}
/* Kisebb képernyőkhöz igazítva */
@media (max-width: 768px) {
  .gallerypageText {
      margin-top: 70px; /* Csökkentett margó kisebb képernyőkhöz */
  }
}

@media (max-width: 576px) {
  .gallerypageText {
      margin-top: 50px; /* Még kisebb margó nagyon kis képernyőkhöz */
  }
}